
<div>
    <a href="#">Назад</a>
</div>
<form method="post" action="./add">
    <div class="form-group">
        <label for="name">Document name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="example" value="{{name}}" required>
    </div>
    {{#if failName}}
        <div class="text-danger">{{error}}</div>
    {{/if}}
    <div class="form-group">
        <label for="docText">Введите текст</label>
        <textarea class="form-control" id="docText" name="docText" rows="20" required>{{text}}</textarea>
        <small id="passwordHelpBlock" class="form-text text-muted">
            Поместите место ввода в {}. Пример - Введите {Фамилия}
        </small>
    </div>
    {{#if failText}}
        <div class="text-danger">{{error}}</div>
    {{/if}}
    <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
    <input type="hidden" value="d" id="delete">
    {{#if success}}
        <div class="text-success">Документ успешно сохранен!</div>
    {{/if}}

</form>